
:root {
    --col-white: #fff;
    --col-grey: #F1F2EB;
    --col-green: #d75697;
    --col-green-30: #d7569600;
    --col-brown: #0b7992bb;
    --col-red: #0b7992;
    --col-red-90: #0b7992ee;
    --col-red-80: #0b7992dd;
    --col-pink: #d75697;
}

/* Animations */
@keyframes unblur {
    0% {
        filter: blur(120px) grayscale(100%);
        box-shadow: inset 0px 0px 0px 0px var(--col-red-80);
    }
    50% {
        filter: blur(0px) grayscale(50%);
    }
    100% {
        filter: blur(0px) grayscale(0%);
        box-shadow: inset 0px 0px 0px 80px var(--col-red-80);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Large Components */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        scroll-padding-top: 70px;
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--col-grey);
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    > ::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/ski.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        opacity: 0.9;
        z-index: -1;
        animation: unblur 4s ease-out forwards;
    }
    > h1 {
        font-size: 3rem;
        color: #fff;
        text-shadow: #393939 1px 1px 0;
        margin: 0;

        @media screen and (max-width: 600px) {
            font-size: 2rem;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    > p {
        color: white;
        margin: 0;

        @media screen and (max-width: 600px) {
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    box-sizing: border-box;
    padding: 0 10px;
}

.section-side-by-side {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    gap: 40px;
    padding: 20px;
    box-sizing: border-box;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    > div > h2 {
        color: black;
    }
    > div > p {
        color: black;
    }

    > img {
        width: 100%;
        max-width: 400px;
        height: auto;
        background-color: black;
        @media screen and (max-width: 600px) {
            max-width: 300px;
        }
    }
}

.section-grids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 0;
    box-sizing: border-box;
}

.testimonial {
    padding: 20px;
    background-color: var(--col-white);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

    > blockquote {
        font-style: italic;
        font-size: 1.2em;
        margin: 20px 20px;
        &::before {
            content: '"';
        }
        &::after {
            content: '"';
        }
    }
    > p {
        font-weight: bold;
        text-align: right;
    }
}

.section-list {
    padding: 5px 20px;

    > ul {
        list-style-type: none;
        padding: 0;
        padding-left: 20px;
        margin: 0;

        > li {
            margin-top: 10px;
            position: relative;

            &::before {
                content: '';
                left: -20px;
                top: calc(50% - 5px);
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: var(--col-green);
                border-radius: 50%;
            }
            &::after {
                content: '';
                left: -20px;
                top: calc(50% - 5px);
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: var(--col-white);
                border-radius: 50%;
                transform: scale(50%);
            }
        }
    }
}

.divider {
    width: 100%;
    height: 250px;
    background: var(--col-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-img {
    background-image: url("../img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--col-green-30);
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.footer {
    width: 100%;
    margin-top: 40px;
    background: var(--col-brown);
}
.footer-top {
    height: 100px;
}
.footer-bottom {
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #0b7992;
    top: 0;
    margin-top: -65px;
    position: sticky;
    z-index: 10;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    animation: appear 0.2s linear forwards;
    animation-delay: 2.2s;
    transition: background-color 0.2s;

    @media screen and (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    > div {
        display: flex;
        gap: 30px;
    }
}
.topnav.stuck {
    background-color: var(--col-red-90);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.topnav a {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards; 
}
.topnav a:nth-child(1) { animation-delay: 2.4s; }
.topnav a:nth-child(2) { animation-delay: 2.6s; }
.topnav a:nth-child(3) { animation-delay: 2.8s; }
.topnav a:nth-child(4) { animation-delay: 3s; }
.topnav a:nth-child(5) { animation-delay: 3.2s; }

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive .icon {
        position: sticky;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Small Components */
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cta-btn {
    padding: 10px 20px;
    background-color: var(--col-red);
    color: var(--col-white);
    border: solid 3px var(--col-red);
    box-shadow: inset 0 0 0 2px #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: box-shadow 0.2s;

    &:hover {
        transform: translateY(1px);
        box-shadow: inset 0 0 0 0 #fff;  
    }
}

.large-btn {
    padding: 20px 50px;
    border: solid 5px var(--col-red);
}

.highlight {
    display: inline-block;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: -3px;
        width: calc(100% + 6px);
        height: 70%;
        background-color: var(--col-green);
        opacity: 0.6;
        z-index: -1;
    }
}

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--col-red);
    z-index: 99;

    > ul {
        list-style-type: none;
        margin-top: 60px;

        > li > a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 10px 20px;
        }
    }
}